@charset "UTF-8";
@font-face {
    font-family: NanumSquareL;
    font-weight: 400;
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.eot);
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.eot?#iefix) format("embedded-opentype");
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareL.ttf) format("truetype");
}

@font-face {
    font-family: NanumSquareR;
    font-weight: 400;
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.eot);
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.eot?#iefix) format("embedded-opentype");
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareR.ttf) format("truetype");
}

@font-face {
    font-family: NanumSquareB;
    font-weight: 400;
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.eot);
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.eot?#iefix) format("embedded-opentype");
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareB.ttf) format("truetype");
}

@font-face {
    font-family: NanumSquareEB;
    font-weight: 400;
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.eot);
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.eot?#iefix) format("embedded-opentype");
    src: url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.woff2) format("woff2"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.woff) format("woff"), url(https://ssl.pstatic.net/static/nid/webfont/NanumSquareEB.ttf) format("truetype");
}

body {
    font-family: Dotum, "돋움", Helvetica, sans-serif;
    font-size: 12px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

#wrap {
    width: 100%;
    display: block;
    background-color: #f5f6f7;
}

#header {
    position: relative;
    overflow: hidden;
    padding: 60px 0 54px;
    box-sizing: border-box;
}

#header .h_logo {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 44px;
    background-image: url(../img/m_naver_logo_20191126.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    color: transparent;
    font-size: 0;
}

#header.join_membership {
    padding-bottom: 20px;
}

#heade #container,
#footer,
#header {
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

#content {
    width: 460px;
    margin: 0 auto;
}

.ipin_box,
.row_group {
    overflow: hidden;
    width: 100%;
}

.join_title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.ps_box.int,
.ps_box.int input {
    background: #fff;
    outline: 0;
}

.ps_box,
.ps_box_disable {
    background: #fff;
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    box-sizing: border-box;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
    right: 13px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}