/*
 * @filename : naver_join_ui.css
 * @author : 김도유(jeje_k@naver.com)
 * @description : 네이버 회원가입 css
 */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #f5f6f7;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}

input {
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

input:focus {
  outline: none;
}

span:hover {
  outline: 1px solid #03c75a;
}

select {
  width: 100%;
  height: 29px;
  font-size: 15px;
  background-size: 20px 8px;
  display: inline-block;
  text-align: start;
  border: none;
  cursor: default;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

#header {
  padding-top: 62px;
  padding-bottom: 20px;
  text-align: center;
}

#naver_logo {
  width: 240px;
  height: 44px;
  cursor: pointer;
}

#container {
  position: relative;
  height: 100%;
}

#content {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 460px;
}

.join_span {
  display: block;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}

.field {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  border: none;
  background: #fff;
  font-size: 15px;
}

.join_span .id {
  padding-right: 110px;
}

.join_span .pass {
  padding-right: 40px;
}

.join_span .mobile {
  display: inline-block;
  width: 100%;
  padding: 10px 15px 10px 14px;
  vertical-align: top;
}

#phone_num_check,
#check_num {
  background: #f7f7f7;
}

.naver_email_url {
  position: absolute;
  top: 16px;
  right: 13px;
  font-size: 15px;
  color: #8e8e8e;
}

.pass_img {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}

#birth_content {
  display: table;
  width: 100%;
}

#birth_year {
  display: table-cell;
  width: 147px;
}

#birth_month {
  display: table-cell;
  width: 147px;
  vertical-align: middle;
  padding-left: 10px;
}

#birth_day {
  display: table-cell;
  width: 147px;
  padding-left: 10px;
}

#email_sel {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
}

.mobile_div {
  position: relative;
  margin-top: 10px;
  padding: 0 125px 0 0;
}

.join_phone_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 115px;
  height: 51px;
  padding: 18px 0 16px;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.08);
  background-color: #03c75a;
}

.join_btn_div {
  margin: 30px 0 91px;
}

#join_btn {
  width: 100%;
  padding: 21px 0 17px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #08a600;
  font-size: 20px;
  font-weight: 400;
  font-family: Dotum, "돋움", Helvetica, sans-serif;
}

#footer * {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  text-decoration: none;
}

#footer ul {
  margin: 0 0 9px 0;
}

#footer ul li {
  font-size: 12px;
  position: relative;
  display: inline;
  padding: 0 3px 0 7px;
  white-space: nowrap;
  background: url(../img/bu_bar_2x.gif) left 50% no-repeat;
  background-size: 1px 10px;
}

#footer ul li:first-child {
  background: 0 0;
}

#footer ul li a:hover,
#footer ul li a:hover strong {
  color: #438a01;
}

#footer address .logo {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 12px;
  background: url(../img/naver_logo.png);
  background-size: 63px 12px;
}

#footer address a {
  font: bold 9px Verdana;
  color: #333;
}

#footer address em {
  font: 9px verdana;
  padding-left: 4px;
}

#footer address span {
  font: 9px/14px Verdana;
  padding-left: 2px;
}

#footer span {
  outline: none;
}

.join_error_span {
  margin-top: 9px;
  font-size: 12px;
  color: red;
  display: none;
}

#footer {
  clear: both;
  margin: 0 auto;
  padding: 30px 0 15px 0;
  text-align: center;
}

#join_not_txt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}
