html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

b {
    font-weight: bolder
}

button,
input {
    font: inherit;
    margin: 0;
    overflow: visible;
}

button {
    text-transform: none;
}

.top_nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.bar_nav {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bar-white,
.bar-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}

.common_padding {
    padding: 8px 16px!important;
}

.common-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.common-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.common_padding_large {
    padding: 12px 24px!important;
}

.common-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.common-col {
    float: left;
    width: 100%
}

@media (min-width:601px) {
    .common-col.m6 {
        width: 49.99999%
    }
}

@media (min-width:993px) {
    .common-col.l6 {
        width: 49.99999%
    }
}

.common-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.common-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.common-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.common_opacity {
    opacity: 0.60;
}

@media (max-width:600px) {
    .common-hide-small {
        display: none!important
    }
}

.common-round {
    border-radius: 4px
}

.common-center {
    text-align: center!important;
}

.common_large {
    font-size: 18px!important
}

.common-text-grey {
    color: #757575!important
}

.common-light-grey {
    color: #000!important;
    background-color: #f1f1f1!important
}

.common-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.common-row:after,
.common-row:before,
.common-row-padding:after,
.common-row-padding:before {
    content: "";
    display: table;
    clear: both;
}

.right_nav {
    float: right!important
}

.header {
    position: relative;
    letter-spacing: 4px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.image {
    max-width: 100%;
    height: auto
}

.header-div01 {
    position: absolute;
    left: 0;
    bottom: 0
}

.xxlarge {
    font-size: 36px!important
}

.opacity-min {
    opacity: 0.75;
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none!important
    }
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.contact-div {
    padding: 0.01em 16px
}

.text-blue-grey {
    color: #607d8b!important
}

.section {
    margin-top: 16px!important;
    margin-bottom: 16px!important
}

.text-green,
.hover-text-green:hover {
    color: #4CAF50!important
}