/**
    @filename : color.scss 
    @author : 김도유(jeje_k@naver.com) 
    @description : 공통적으로 쓰이는 컬러값
**/

$cream: #f6f5ef;
$lightgrey: #e5e5e5;
$lightgreyTwo: #ccc;

$white: #fff;

$black: #000;
$blackTwo: #333;
$blackThree: #2c2a29;
$blackFour: #111;
$backgFive: #45434c;
$blackSix: #222;
$darkgrey: #666;
$darkgreyTwo: #555;

$hotpink: #d73a7a;
$pastelpink: #f9e8ee;

$darkgreen: #1e3932;
$green_grey: #4b615b;
$green: #00704a;
$brown: #b9813e;
