@import "./color.scss";
@import "./reset.scss";

#storeWrap {
  background: url(../../images/store_bg.jpg);
  background-size: 100% auto;
  height: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrap_inner {
  left: 50%;
  margin-left: -640px;
  position: absolute;
  top: 0;
  width: 1280px;
}

.store_exp_img01 {
  background: url(../../images/store_exp_img01.png);
  height: 228px;
  left: 390px;
  position: absolute;
  top: 149px;
  width: 228px;
  z-index: 5;
}

.store_exp_img02 {
  background: url(../../images/store_exp_img02.png);
  height: 312px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 366px;
  z-index: 4;
  opacity: 1;
}

.store_exp_img03 {
  background: url(../../images/store_exp_img03.png);
  height: 142px;
  left: 520px;
  position: absolute;
  top: -60px;
  width: 343px;
  z-index: 4;
  opacity: 1;
}

.store_exp_img04 {
  background: url(../../images/store_exp_img04.png);
  height: 102px;
  position: absolute;
  right: 30px;
  top: 298px;
  width: 230px;
  z-index: 4;
  opacity: 1;
}

.store_txt01 {
  background: url(../../images/store_txt01.png);
  height: 54px;
  position: absolute;
  overflow: hidden;
  text-indent: -20000px;
  top: 100px;
  width: 385px;
  z-index: 4;
  opacity: 1;
  right: 149px;
}

.store_txt02 {
  background: url(../../images/store_txt02.png);
  height: 61px;
  position: absolute;
  overflow: hidden;
  text-indent: -20000px;
  top: 168px;
  width: 366px;
  z-index: 4;
  opacity: 1;
  right: 168px;
}

.store_btn {
  border: 2px solid $blackSix;
  border-radius: 3px;
  height: 34px;
  line-height: 34px;
  position: absolute;
  top: 258px;
  width: 121px;
  z-index: 4;
  opacity: 1;
  right: 402px;

  a {
    color: $blackSix;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
    transition: background-color 0.7s, color 0.7s;
  }
}
