/**
    @filename : color.scss 
    @author : 김도유(jeje_k@naver.com) 
    @description : 공통적으로 쓰이는 컬러값
**/

$h_background: #f6f3f2;
$h_border-color: #e4dcd3;
$h_grey: #666;

$deepgrey: #777673;

$deepblue: #002c5f;
$lightblue: #00aad2;

$black: #000;
$white: #fff;
$lightgrey: #cfc8c2;
